In [43]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [41]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
def return_month(release_date):
    m = int(str(pd.to_datetime(release_date)).split('-')[1])
    s = {
        1: "Январь",
        2: "Фервраль",
        3: "Март",
        4: "Апрель",
        5: "Май",
        6: "Июнь",
        7: "Июль",
        8: "Август",
        9: "Сентябрь",
        10: "Октябрь",
        11: "Ноябрь",
        12: "Декабрь"
    }
    s.setdefault(m, "Неверное значение")
    return s[m]
data['release_month'] = data.release_date.apply(return_month)

data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
390,tt1403865,38000000,252276927,True Grit,Jeff Bridges|Hailee Steinfeld|Matt Damon|Josh ...,Ethan Coen|Joel Coen,Punishment Comes One Way or Another.,Following the murder of her father by hired ha...,110,Drama|Adventure|Western,Paramount Pictures|Scott Rudin Productions|Mik...,12/22/2010,7.0,2010,214276927,Декабрь
1332,tt0388482,32000000,85167639,Transporter 2,Jason Statham|Amber Valletta|Kate Nauta|Alessa...,Louis Leterrier,The Best In The Business Is Back In The Game.,Professional driver Frank Martin is living in ...,87,Action|Thriller|Crime,Canal Plus|Twentieth Century Fox Film Corporat...,8/2/2005,6.1,2005,53167639,Август
564,tt0242445,50000000,79958599,Exit Wounds,Steven Seagal|DMX|Isaiah Washington|Anthony An...,Andrzej Bartkowiak,This Is Gonna Hurt,Maverick cop Orin Boyd always brings down the ...,101,Action|Crime|Thriller,NPV Entertainment|Warner Bros.,3/13/2001,5.0,2001,29958599,Март
234,tt2183034,13000000,45300000,Earth to Echo,Teo Halm|Astro|Resse Hartwig|Ella Wahlestedt|J...,Dave Green,No one will ever believe our story.,After a construction project begins digging in...,89,Family|Adventure|Science Fiction,Walt Disney Studios Motion Pictures|Panay Films,7/2/2014,5.7,2014,32300000,Июль
563,tt0245686,17700000,30987695,Joe Dirt,David Spade|Brittany Daniel|Dennis Miller|Adam...,Dennie Gordon,He Came. He Cleaned. He Conquered.,"Joe Dirt is a janitor with a mullet hairdo, ac...",91,Mystery|Adventure|Comedy|Romance|Drama,Columbia Pictures|Happy Madison Productions,4/10/2001,5.5,2001,13287695,Апрель

In [4]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
title = data[data.budget == data.budget.max()][['imdb_id', 'original_title']]
for index, row in title.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [8]:
# ВАРИАНТ 2
print(data.loc[(data['budget'] == data.budget.max())][['imdb_id', 'original_title']])

imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [10]:
# вариант 1
print(data.loc[(data['runtime'] == data.runtime.max())][['imdb_id', 'original_title']])

# вариант 2
title = data[data.runtime == data.runtime.max()][['imdb_id', 'original_title']]
for index, row in title.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

# вариант 3
df = data.query("runtime == {0}".format(data.runtime.max()))[['imdb_id', 'original_title']]
print(df)

imdb_id     original_title
1157  tt0279111  Gods and Generals
Gods and Generals (tt0279111)
        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
df = data.query("runtime == {0}".format(data.runtime.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '4. 110'
print(round(data.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '5. 107'
print(round(data.runtime.median()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'
df = data.query("profit == {0}".format(data.profit.max()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = '7. The Lone Ranger (tt1210819)'
df = data.query("profit == {0}".format(data.profit.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = '8. 1478'
df = data.query("revenue > budget")['imdb_id']
print(df.count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answers['9'] = '9. The Dark Knight (tt0468569)'
data_2008 = data.query("release_year == 2008")
df = data_2008.query("profit == {0}".format(data_2008.profit.max()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answers['10'] = '10. The Lone Ranger (tt1210819)'
data_12_14 = data.query("release_year >= 2012 & release_year <= 2014")
df = data_12_14.query("profit == {0}".format(data_12_14.profit.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [20]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'
df = data.copy()
df['genres'] = df['genres'].str.split('|')
df = df.explode('genres')
print(df.groupby('genres')['imdb_id'].count().sort_values(ascending=False).head(1))

genres
Drama    782
Name: imdb_id, dtype: int64

ВАРИАНТ 2

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
answers['12'] = '12. Drama'
df = data.query("revenue > budget")
df.genres = df.genres.str.split('|')
df = df.explode('genres')
print(df.groupby('genres')['imdb_id'].count().sort_values(ascending=False).head(1))

genres
Drama    560
Name: imdb_id, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
answers['13'] = '13. Peter Jackson'
df = data.copy()
df.director = df.director.str.split('|')
df = df.explode('director')
print(data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
answers['14'] = '14. Robert Rodriguez'
df = data[data.genres.str.contains('Action')].copy()
df.director = df.director.str.split('|')
df = df.explode('director')
print(df['director'].value_counts().head(1))

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [49]:
answers['15'] = '15. Chris Hemsworth'
df = data.query('release_year == 2012')
df.cast = df.cast.str.split('|')
df = df.explode('cast')
print(df.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
answers['16'] = '16. Matt Damon'
df = data[(data.budget > data.budget.mean())]
df.cast = df.cast.str.split('|')
df = df.explode('cast')
print(df['cast'].value_counts().head(1))

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
answers['17'] = '17. Action'
df = data[data.cast.str.contains('Nicolas Cage')].copy()
df.genres = df.genres.str.split('|')
df = df.explode('genres')
print(df['genres'].value_counts().head(1))

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'
df = data[data.production_companies.str.contains('Paramount Pictures')].copy()
title = df[df.profit == df.profit.min()][['imdb_id', 'original_title']]
for index, row in title.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] = '19. 2015'
print(data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
answers['20'] = '20. 2014'
df = data[data.production_companies.str.contains('Warner Bros')].copy()
print(df.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1))

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
answers['21'] = '21. Сентябрь'
print(data.groupby('release_month')['imdb_id'].count().sort_values(ascending=False).head(1))

release_month
Сентябрь    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
answers['22'] = '22. 450'
df = data.query('release_month == "Июнь" or release_month == "Июль" or release_month == "Август"')
print(df.imdb_id.count())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [35]:
answers['23'] = '23. Peter Jackson'
df = data.query('release_month == "Декабрь" or release_month == "Январь" or release_month == "Февраль"')
df.director = df.director.str.split('|')
df = df.explode('director')
print(df['director'].value_counts().head(1))

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [38]:
answers['24'] = '24. Four By Two Productions'
df = data.copy()
df['original_title_len'] = df.original_title.apply(lambda x:len(x))
df['production_company'] = df.production_companies.str.split('|')
df = df.explode('production_company')
print(df.groupby('production_company')['original_title_len'].mean().sort_values(ascending=False).head(1))

production_company
Four By Two Productions    83.0
Name: original_title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [39]:
answers['25'] = '25. Midnight Picture Show'
df = data.copy()
df['overview_len'] = df.overview.apply(lambda x:len(str(x).split()))
df['production_company'] = df.production_companies.str.split('|')
df = df.explode('production_company')
print(df.groupby('production_company')['overview_len'].mean().sort_values(ascending=False).head(1))

production_company
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [42]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'
print(data.groupby('original_title')['vote_average'].mean().sort_values(ascending=False).head(19))

original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Room                                                 8.0
Interstellar                                         8.0
Inside Out                                           8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [46]:
answers['27'] = '27. Daniel Radcliffe & Emma Watson'
df = data.copy()
df.cast = df.cast.str.split('|').apply(lambda x:list(itertools.combinations(x, 2)))
df = df.explode('cast')
print(df.cast.value_counts().head(1))

(Daniel Radcliffe, Emma Watson)    8
Name: cast, dtype: int64

# Submission

In [50]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Emma Watson'}

In [48]:
# и убедиться что ни чего не пропустил)
len(answers)

27