In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [24]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data['Action'] = data.genres.apply(lambda s:int('Action' in str(s))) 
data['Adventure'] = data.genres.apply(lambda s:int('Adventure' in str(s))) 
data['Drama'] = data.genres.apply(lambda s:int('Drama' in str(s))) 
data['Comedy'] = data.genres.apply(lambda s:int('Comedy' in str(s))) 
data['Thriller'] = data.genres.apply(lambda s:int('Thriller' in str(s))) 

data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,Action,Adventure,Drama,Comedy,Thriller
1369,tt0340163,52000000,77944725,Hostage,Bruce Willis|Kevin Pollak|Jimmy Bennett|Michel...,Florent-Emilio Siri,Every Second Counts,When a mafia accountant is taken hostage on hi...,113,Mystery|Drama|Thriller|Crime,Miramax Films|Cheyenne Enterprises|Yari Film G...,3/9/2005,6.0,2005,25944725,0,0,1,0,1
1868,tt0204175,16000000,20627372,Boys and Girls,Freddie Prinze Jr.|Claire Forlani|Jason Biggs|...,Robert Iscove,Warning: Sex Changes Everything,Ryan and Jennifer are opposites who definitely...,94,Comedy|Drama|Romance,Dimension Films,6/16/2000,5.3,2000,4627372,0,0,1,1,0
1232,tt1931435,35000000,21819348,The Big Wedding,Robert De Niro|Diane Keaton|Katherine Heigl|Am...,Justin Zackham,It's never too late to start acting like a family,To the amusement of their adult children and f...,90,Comedy,Millenium Films|Two Ton Films,4/25/2013,5.6,2013,-13180652,0,0,0,1,0
831,tt0810922,19000000,6928068,Take Me Home Tonight,Topher Grace|Anna Faris|Dan Fogler|Teresa Palm...,Michael Dowse,Best. Night. Ever.,Recent MIT grad Matt Franklin (Topher Grace) s...,97,Comedy|Drama|Romance,Imagine Entertainment|Rogue Pictures|Relativit...,3/4/2011,6.3,2011,-12071932,0,0,1,1,0
1533,tt0408985,45000000,38399961,Last Holiday,Queen Latifah|LL Cool J|Timothy Hutton|Giancar...,Wayne Wang,She always thought she was somebody special......,"After she's diagnosed with a terminal illness,...",112,Adventure|Comedy|Drama,Paramount Pictures,1/13/2006,6.4,2006,-6600039,0,1,1,1,0

In [5]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
title = data[data.budget == data.budget.max()][['imdb_id', 'original_title']]
for index, row in title.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [11]:
# ВАРИАНТ 2
print(data.loc[(data['budget'] == data.budget.max())][['imdb_id', 'original_title']])

imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [13]:
# вариант 1
print(data.loc[(data['runtime'] == data.runtime.max())][['imdb_id', 'original_title']])

# вариант 2
title = data[data.runtime == data.runtime.max()][['imdb_id', 'original_title']]
for index, row in title.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

# вариант 3
df = data.query("runtime == {0}".format(data.runtime.max()))[['imdb_id', 'original_title']]
print(df)

imdb_id     original_title
1157  tt0279111  Gods and Generals
Gods and Generals (tt0279111)
        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
df = data.query("runtime == {0}".format(data.runtime.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '4. 110'
print(round(data.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '5. 107'
print(round(data.runtime.median()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'
df = data.query("profit == {0}".format(data.profit.max()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '7. The Lone Ranger (tt1210819)'
df = data.query("profit == {0}".format(data.profit.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [26]:
answers['8'] = '8. 1478'
df = data.query("revenue > budget")['imdb_id']
print(df.count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = '9. The Dark Knight (tt0468569)'
data_2008 = data.query("release_year == 2008")
df = data_2008.query("profit == {0}".format(data_2008.profit.max()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
answers['10'] = '10. The Lone Ranger (tt1210819)'
data_12_14 = data.query("release_year >= 2012 & release_year <= 2014")
df = data_12_14.query("profit == {0}".format(data_12_14.profit.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [23]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'
print('Action: {0}'.format(data[data.genres.str.contains('Action')].imdb_id.count()))
print('Adventure: {0}'.format(data[data.genres.str.contains('Adventure')].imdb_id.count()))
print('Drama: {0}'.format(data[data.genres.str.contains('Drama')].imdb_id.count()))
print('Comedy: {0}'.format(data[data.genres.str.contains('Comedy')].imdb_id.count()))
print('Thriller: {0}'.format(data[data.genres.str.contains('Thriller')].imdb_id.count()))

Action: 582
Adventure: 415
Drama: 782
Comedy: 683
Thriller: 596

ВАРИАНТ 2

In [32]:
print(data[['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']].sum().sort_values(ascending=False))

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = '12. Drama'
df = data.query("revenue > budget")
print(df[['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']].sum().sort_values(ascending=False))

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = '13. Peter Jackson'
print(data.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [29]:
answers['14'] = '14. Michael Bay'
df = data.query("Action == 1")
print(df.groupby('director')['imdb_id'].count().sort_values(ascending=False).head(1))

director
Michael Bay    7
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [30]:
answers['15'] = '15. Chris Hemsworth'
print('Nicolas Cage   : {0}'.format(data[data.cast.str.contains('Nicolas Cage')].revenue.sum()))
print('Tom Hardy      : {0}'.format(data[data.cast.str.contains('Tom Hardy')].revenue.sum()))
print('Chris Hemsworth: {0}'.format(data[data.cast.str.contains('Chris Hemsworth')].revenue.sum()))
print('Jim Sturgess   : {0}'.format(data[data.cast.str.contains('Jim Sturgess')].revenue.sum()))
print('Emma Stone     : {0}'.format(data[data.cast.str.contains('Emma Stone')].revenue.sum()))

Nicolas Cage   : 3243647930
Tom Hardy      : 2943641063
Chris Hemsworth: 4685424695
Jim Sturgess   : 307406097
Emma Stone     : 2885212916

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)