In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [15]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
490,tt0473102,12500000,3878993,The Perfect Game,"Clifton Collins, Jr.|Cheech Marin|MoisÃ©s Aria...",William Dear,Dream for the fences.,"Based on a true story, a group of boys from Mo...",118,Drama|Family,HighRoad Entertainment|Prelude Pictures|Lone R...,4/1/2010,5.7,2010,-8621007
1656,tt0329691,40000000,46546197,Torque,Martin Henderson|Ice Cube|Monet Mazur|Adam Sco...,Joseph Kahn,Circuit of Fire,Biker Cary Ford is framed by an old rival and ...,84,Action,Village Roadshow Pictures|Original Film|Warner...,1/16/2004,4.8,2004,6546197
1599,tt0364725,20000000,167722310,DodgeBall: A True Underdog Story,Vince Vaughn|Christine Taylor|Ben Stiller|Rip ...,Rawson Marshall Thurber,Grab Life By The Ball,"When megalomaniacal White Goodman, the owner o...",92,Comedy,Twentieth Century Fox Film Corporation|Red Hou...,6/18/2004,6.2,2004,147722310
175,tt1355630,11000000,78874843,If I Stay,ChloÃ« Grace Moretz|Jamie Blackley|Liana Liber...,R.J. Cutler,Live for Love.,Based on Gayle Forman's novel of the same name...,106,Drama,New Line Cinema|Metro-Goldwyn-Mayer (MGM),8/21/2014,7.2,2014,67874843
204,tt1742334,35000000,17508518,Sabotage,Arnold Schwarzenegger|Sam Worthington|Mireille...,David Ayer,Leave no loose ends,"In ""Sabotage"", Arnold Schwarzenegger leads an ...",110,Action|Drama|Thriller|Crime,Open Road Films|QED International|Albert S. Ru...,3/28/2014,5.4,2014,-17491482

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
title = data[data.budget == data.budget.max()][['imdb_id', 'original_title']]
for index, row in title.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [10]:
# ВАРИАНТ 2
print(data.loc[(data['budget'] == data.budget.max())][['imdb_id', 'original_title']])

imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [12]:
# вариант 1
print(data.loc[(data['runtime'] == data.runtime.max())][['imdb_id', 'original_title']])

# вариант 2
title = data[data.runtime == data.runtime.max()][['imdb_id', 'original_title']]
for index, row in title.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

# вариант 3
df = data.query("runtime == {0}".format(data.runtime.max()))[['imdb_id', 'original_title']]
print(df)

imdb_id     original_title
1157  tt0279111  Gods and Generals
Gods and Generals (tt0279111)
        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
df = data.query("runtime == {0}".format(data.runtime.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '110'
print(round(data.runtime.mean()))

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'
print(round(data.runtime.me()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'
df = data.query("profit == {0}".format(data.profit.max()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '7. The Lone Ranger (tt1210819)'
df = data.query("profit == {0}".format(data.profit.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '8. 1478'
data['profit'] = data['revenue'] - data['budget']
df = data.query("revenue > budget")['imdb_id']
print(df.count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = '9. The Dark Knight (tt0468569)'
data_2008 = data.query("release_year == 2008")
df = data_2008.query("profit == {0}".format(data_2008.profit.max()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
answers['10'] = '10. The Lone Ranger (tt1210819)'
data_12_14 = data.query("release_year >= 2012 & release_year <= 2014")
df = data_12_14.query("profit == {0}".format(data_12_14.profit.min()))[['imdb_id', 'original_title']]
for index, row in df.iterrows():
    print("{0} ({1})".format(row['original_title'], row['imdb_id'], ))

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)